venv/
db.sqlite3
static/
.idea/

.env
.env.production

__pycache__/
**/__pycache__/

*.egg-info
*.egg/
*.pyc
*.swp

.tox
.coverage

docker-compose.yml
Dockerfile

nginx/

.gitignore
.git/
.dockerignore/